MngrPaycheck.Administrator/Service References/ProductParametrServiceRef/ProductParameterRepositoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductParameterRepositoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:23010/ProductParameterRepositoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:23010/ProductParameterRepositoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductParameterRepositoryService_GetProductParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductParameters" />
  </wsdl:message>
  <wsdl:message name="IProductParameterRepositoryService_GetProductParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductParametersResponse" />
  </wsdl:message>
  <wsdl:message name="IProductParameterRepositoryService_AddProductParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProductParameter" />
  </wsdl:message>
  <wsdl:message name="IProductParameterRepositoryService_AddProductParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductParameterResponse" />
  </wsdl:message>
  <wsdl:message name="IProductParameterRepositoryService_DeleteProductParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductParameter" />
  </wsdl:message>
  <wsdl:message name="IProductParameterRepositoryService_DeleteProductParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductParameterResponse" />
  </wsdl:message>
  <wsdl:message name="IProductParameterRepositoryService_UpdateProductParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductParameter" />
  </wsdl:message>
  <wsdl:message name="IProductParameterRepositoryService_UpdateProductParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductParameterResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductParameterRepositoryService">
    <wsdl:operation name="GetProductParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductParameterRepositoryService/GetProductParameters" message="tns:IProductParameterRepositoryService_GetProductParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductParameterRepositoryService/GetProductParametersResponse" message="tns:IProductParameterRepositoryService_GetProductParameters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProductParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductParameterRepositoryService/AddProductParameter" message="tns:IProductParameterRepositoryService_AddProductParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductParameterRepositoryService/AddProductParameterResponse" message="tns:IProductParameterRepositoryService_AddProductParameter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProductParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductParameterRepositoryService/DeleteProductParameter" message="tns:IProductParameterRepositoryService_DeleteProductParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductParameterRepositoryService/DeleteProductParameterResponse" message="tns:IProductParameterRepositoryService_DeleteProductParameter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductParameterRepositoryService/UpdateProductParameter" message="tns:IProductParameterRepositoryService_UpdateProductParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductParameterRepositoryService/UpdateProductParameterResponse" message="tns:IProductParameterRepositoryService_UpdateProductParameter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductParameterRepositoryService" type="tns:IProductParameterRepositoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductParameters">
      <soap:operation soapAction="http://tempuri.org/IProductParameterRepositoryService/GetProductParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProductParameter">
      <soap:operation soapAction="http://tempuri.org/IProductParameterRepositoryService/AddProductParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProductParameter">
      <soap:operation soapAction="http://tempuri.org/IProductParameterRepositoryService/DeleteProductParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductParameter">
      <soap:operation soapAction="http://tempuri.org/IProductParameterRepositoryService/UpdateProductParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductParameterRepositoryService">
    <wsdl:port name="BasicHttpBinding_IProductParameterRepositoryService" binding="tns:BasicHttpBinding_IProductParameterRepositoryService">
      <soap:address location="http://localhost:23010/ProductParameterRepositoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>