MngrPaycheck.Administrator/Service References/ProductParameterValueServiceReference/ProductParameterValueRepositoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductParameterValueRepositoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25643/ProductParameterValueRepositoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25643/ProductParameterValueRepositoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductParameterValueRepositoryService_GetParameterValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParameterValues" />
  </wsdl:message>
  <wsdl:message name="IProductParameterValueRepositoryService_GetParameterValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParameterValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IProductParameterValueRepositoryService_AddParameterValue_InputMessage">
    <wsdl:part name="parameters" element="tns:AddParameterValue" />
  </wsdl:message>
  <wsdl:message name="IProductParameterValueRepositoryService_AddParameterValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddParameterValueResponse" />
  </wsdl:message>
  <wsdl:message name="IProductParameterValueRepositoryService_DeleteParameterValue_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteParameterValue" />
  </wsdl:message>
  <wsdl:message name="IProductParameterValueRepositoryService_DeleteParameterValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteParameterValueResponse" />
  </wsdl:message>
  <wsdl:message name="IProductParameterValueRepositoryService_UpdateParameterValue_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateParameterValue" />
  </wsdl:message>
  <wsdl:message name="IProductParameterValueRepositoryService_UpdateParameterValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateParameterValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductParameterValueRepositoryService">
    <wsdl:operation name="GetParameterValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductParameterValueRepositoryService/GetParameterValues" message="tns:IProductParameterValueRepositoryService_GetParameterValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductParameterValueRepositoryService/GetParameterValuesResponse" message="tns:IProductParameterValueRepositoryService_GetParameterValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddParameterValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductParameterValueRepositoryService/AddParameterValue" message="tns:IProductParameterValueRepositoryService_AddParameterValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductParameterValueRepositoryService/AddParameterValueResponse" message="tns:IProductParameterValueRepositoryService_AddParameterValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteParameterValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductParameterValueRepositoryService/DeleteParameterValue" message="tns:IProductParameterValueRepositoryService_DeleteParameterValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductParameterValueRepositoryService/DeleteParameterValueResponse" message="tns:IProductParameterValueRepositoryService_DeleteParameterValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateParameterValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductParameterValueRepositoryService/UpdateParameterValue" message="tns:IProductParameterValueRepositoryService_UpdateParameterValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductParameterValueRepositoryService/UpdateParameterValueResponse" message="tns:IProductParameterValueRepositoryService_UpdateParameterValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductParameterValueRepositoryService" type="tns:IProductParameterValueRepositoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetParameterValues">
      <soap:operation soapAction="http://tempuri.org/IProductParameterValueRepositoryService/GetParameterValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddParameterValue">
      <soap:operation soapAction="http://tempuri.org/IProductParameterValueRepositoryService/AddParameterValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteParameterValue">
      <soap:operation soapAction="http://tempuri.org/IProductParameterValueRepositoryService/DeleteParameterValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateParameterValue">
      <soap:operation soapAction="http://tempuri.org/IProductParameterValueRepositoryService/UpdateParameterValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductParameterValueRepositoryService">
    <wsdl:port name="BasicHttpBinding_IProductParameterValueRepositoryService" binding="tns:BasicHttpBinding_IProductParameterValueRepositoryService">
      <soap:address location="http://localhost:25643/ProductParameterValueRepositoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>